<div id="counter-area">
        <div id="ring-area">
                <svg class="ring">
                <circle stroke-width="6%" fill="transparent" r="45%" cx="50%" cy="50%"/>
                </svg>
                <span class="ring-area-text">5</span>
        </div>
        <div id="selector-area">
                <div id="button-area">
                <div class="selector-button" id="decrease"><span>-</span></div>
                <div class="selector-button" id="increase"><span>+</span></div>
                </div>
                <button id="confirm"><span>Concluir</span></button>
        </div>
</div>
