#content{
        row-gap: 4vh;
}
#content #list{
        width: 100%;
}
#content #list .carousel-item{
        width: 100vw;
        padding: 0 10%;
}
#content #list .carousel-item .exercise-item{
        background-color: rgba(0, 0, 0, 0.4);
        height: 20vh;
        border-radius: 2vh;
        padding-top: 1vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
}
#content #list .carousel-item span{
        margin: 0;
        padding: 0;
        border: 0;
}
#content #list .carousel-item span.week{
        font-size: 2.4vh;
}
#content #list .carousel-item span.day{
        font-size: 2.2vh;
}

/* Workouts Concluídos */
#content #list .carousel-item .exercise-item.completed{
        background-color: rgba(0, 0, 0, 0.25);
        color: #c5c5c5;
}
#content #list .carousel-item .exercise-item.completed div.sets-area .reps{
        opacity: 0.5;
        /* background-color: rgb(134, 143, 156);        
        color: rgba(17, 44, 95, 0.788); */
}
#content #list .carousel-item .exercise-item .completed-item{
        width: 100%;
        margin-top: 1vh;
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 2.6vh;
        color: #fff;
}

/* Workouts Bloqueados */
#content #list .carousel-item .exercise-item.locked{
        background-color: rgba(0, 0, 0, 0.25);
        color: #c5c5c5;
}
#content #list .carousel-item .exercise-item.locked div.sets-area .reps{
        opacity: 0.5;
        /* background-color: rgb(134, 143, 156);        
        color: rgba(17, 44, 95, 0.788); */
}
#content #list .carousel-item .exercise-item .locked-item{
        width: 100%;
        margin-top: 1vh;
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 2.6vh;
        color: #fff;
}


/* Carousel Controls */
.carousel .carousel-control-prev, .carousel .carousel-control-next {
        width: 10vw;
}
.carousel .carousel-item {
        transition-duration: 0.4s;
}

/* Botão Confirmar */
button#confirm{
        position: relative;
        width: 50%;
        border: 0;
        border-radius: 3vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1E5BB6;

        box-shadow: 3px 5px 25px 0px rgba(0, 0, 0, 0.3);

        transition: all 0.2s;
}
button#confirm:active{
        box-shadow: 1px 1px 20px 0px rgba(14, 48, 128, 0.65);
}
button#confirm span{
        font-family: 'Outfit';
        font-size: 3.4vh;
        font-weight: 400;
        color: white;
}