#content{
        row-gap: 4vh;
        padding-top: 2vh !important;
        bottom: 5%;
}

#instruction #reset-button{
        position: absolute;
        top: 1.5vh;
        right: 3vw;
        background-color: rgb(24, 81, 146);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1vw;
        padding: 0 2vw;
        border-radius: 1vh;
        color: #dddddd;
        font-size: 2.4vh;
        box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.3);

        transition: all 0.2s;
}
#instruction #reset-button svg{
        aspect-ratio: 1;
        height: 2.0vh;
        fill: #dddddd;
}
#instruction #reset-button:active{
        opacity: 0.7;
}

#content #list{
        width: 100%;
        flex-grow: 3;
}
#content #list .carousel-inner{
        height: 100%;
}
#content #list .carousel-item{
        width: 100vw;
        height: 100%;
        padding: 0 10%;
}
#content #list .carousel-item .exercise-item{
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        border-radius: 2vh;
        padding-top: 1vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
}
#content #list .carousel-item span{
        margin: 0;
        padding: 0;
        border: 0;
}
#content #list .carousel-item span.week{
        font-size: 2.4vh;
}
#content #list .carousel-item span.day{
        font-size: 2.2vh;
}

/* Workouts Concluídos */
#content #list .carousel-item .exercise-item.completed{
        background-color: rgba(0, 0, 0, 0.25);
        color: #c5c5c5;
}
#content #list .carousel-item .exercise-item.completed div.sets-area .reps{
        opacity: 0.5;
        /* background-color: rgb(134, 143, 156);        
        color: rgba(17, 44, 95, 0.788); */
}
#content #list .carousel-item .exercise-item .completed-item{
        width: 100%;
        margin-top: 1vh;
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 2.6vh;
        color: #fff;
}

/* Workouts Bloqueados */
#content #list .carousel-item .exercise-item.locked{
        background-color: rgba(0, 0, 0, 0.25);
        color: #c5c5c5;
}
#content #list .carousel-item .exercise-item.locked div.sets-area .reps{
        opacity: 0.5;
        /* background-color: rgb(134, 143, 156);        
        color: rgba(17, 44, 95, 0.788); */
}
#content #list .carousel-item .exercise-item .locked-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        width: 100%;
        height: 25%;
        margin-top: 1vh;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        font-size: 2.6vh;
        color: #fff;
}
#content #list .carousel-item .exercise-item .locked-item.empty{
        background-color: rgba(0, 0, 0, 0);
}

/* Carousel Controls */
.carousel .carousel-control-prev, .carousel .carousel-control-next {
        width: 10vw;
}
.carousel .carousel-item {
        transition-duration: 0.4s;
}

/* Botão Confirmar */
button#confirm{
        flex-grow: 1;
        position: relative;
        width: 50%;
        border: 0;
        border-radius: 3vh;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1E5BB6;

        box-shadow: 3px 5px 25px 0px rgba(0, 0, 0, 0.3);

        transition: all 0.2s;
}
button#confirm:active{
        box-shadow: 1px 1px 20px 0px rgba(14, 48, 128, 0.65);
}
button#confirm span{
        font-family: 'Outfit';
        font-size: 3.4vh;
        font-weight: 400;
        color: white;
}

/* MODAL */
.modal-content {
        width: 83vw;
        margin: 0 auto;

        background-color: rgb(24, 26, 27);
        border-color: rgba(140, 130, 115, 0.2);
        font-size: 2.1vh;
        text-align: center;
}
.modal-content .close {
        color: rgb(232, 230, 227);
        text-shadow: rgb(24, 26, 27) 0px 1px 0px;
    }
/* .modal-content .btn-primary, .btn-primary:hover, .btn-primary:active {
        color: rgb(232, 230, 227);
        background-color: rgb(224, 28, 28);
        border-color: rgb(179, 0, 0);
} */
.modal-title{
        font-size: 2.6vh;
        text-align: center;
}
.modal-backdrop
{
    opacity:0.85 !important;
}